<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Wyniki - wpisy sponsorowane - relinker.pl</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/jquery.jcarousel.css" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/func.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="shell">
  <div id="header">
    <img src="images/relinker-logo2.jpg" class="logo" />
     <%= erb :nawigacja %>
  </div>
  <div id="main">
    <div id="content" class="left">
<h2>Wyniki wspólne: linkhouse.pl oraz whitepress.pl</h2>

<ol>
<% adresy_wspolne.each do |wspolne| %>
<li> <%= wspolne %> </li>
<% end %>
</ol>

<hr style="margin-top: 40px;margin-bottom: 40px;">
<h2>Wyniki linkhouse.pl</h2>

<ol>
<% adresy_lh.each do |lh| %>
<li> <%= lh %> </li>
<% end %>
</ol>

<hr style="margin-top: 40px;margin-bottom: 40px;">

<h2>Wyniki whitepress.pl</h2>

<ol>
<% adresy_wp.each do |wp| %>
<li> <%= wp %> </li>
<% end %>
</ol>


    </div>
     <%= erb :sidebar %>
    <div class="cl">&nbsp;</div>
  </div>
     <%= erb :stopka %>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>
